src/observer/storage/default/observer.log.*
src/observer/storage/default/miniob
src/observer/storage/common/observer.log.*
src/observer/net/observer.log.*
src/observer/sql/*/observer.log.*
src/observer/sql/*/miniob/
src/observer/observer.log.*
src/observer/miniob/
.cache/*
deps/libevent/*
deps/googletest
deps/jsoncpp
build/*
cmake-build-*/*
.vscode/*
.DS_Store
.idea
.ccls-cache
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
GRTAGS
GPATH
GTAGS
miniob/
src/observer/miniob
src/obclient/*log*
observer.log*
#*#
